.header .footer {
  text-align: center;
  background-color: red;
  border-top: 3px dashed #546a7b;
  border-bottom: 3px dashed #546a7b;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: red;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 48px;
  color: red;
  height: 50px;
  text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

table {
     text-align: center;
}

p {
  text-align: center;
}

body{
    font-family: Times New Roman;
    font-size: 16px;
    background-color: #fcf874;
    float: center;
    border: 4px solid red;
    margins: 150px 400px;
}
nav {
  list-style-type: none;
  margin: 10;
  padding 10;
  float: center;
  display: block;
  padding: 10px;
  background-color: red;
}

h2 {
  color: red;
}
h3 {
  color: red;
}
